#header
{
    font-family:cursive;
    font-size:50px;
    color:blue;
}

body
{
    background:linear-gradient(#f2ff00 0%,#00f7a1 0%,#00f2ff 100%);
    text-align:center;
}
#first_image
{
    border-width:20px;
    border-radius:4px;
    border-color:yellow;
    width:200px;
    height:200px;
}
#content
{
    font-family:cursive;
    font-size:25px;
    color:blue;
}